.grid-head {
    grid-gap: 20px 5px;
    display: grid;
    height: 200px;
    grid-template:auto;
    overflow-y: scroll;
    gap: 20px 5px;
   font-size:40px;
  }
  
  .grid-head > div {
    border: 1px solid Gainsboro;
    background-color: white;
    height: 200px;
    
  }
  
  
  .grid-container {
    grid-gap: 20px 5px;
    padding-top: 40px;
    font-weight:bold;
    display: grid;
    height: 200px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px 5px;
  }
  
  .grid-container > div {
    border: 1px solid  Gainsboro;
    background-color: white;
    height: 200px;
  
    overflow-y:scroll;
  }
  
  .grid-bottom {
    grid-gap: 20px 5px;
    padding-top: 70px;
    display: grid;
    height: 100px;
    grid-template:auto;
    gap: 20px 5px;
   
  }
  
  .grid-bottom > div {
    border: 1px solid  Gainsboro;
    background-color: white;
    height: 270px;
    line-height: 38px;
  }
  
  
    
    