.item-resources{
    grid-area: resources;

}

.resources-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    background:rgb(255, 255, 255);
    padding: 20px;
    grid-template-areas:
    "resources"
}