.item-resources{
    grid-area: resources;

}

.resources-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    background:rgb(3, 3, 3);
    padding: 4px;
    grid-template-areas:
    "resources"
}