.item-feed{
    grid-area: feed;
    background:white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);

}
.item-post{
    grid-area: post;
    background:white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);

}
.item-rules{
    grid-area: rules;
    background: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.item-gap{
    grid-area: gap;
    /* background:#f0f2f5; */
    background:blue;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 30px 300px;
    grid-template-rows: auto ;
    /* grid-gap: 30px 0px; */
    /* background:white; */
    /* padding: 20px; */
    grid-template-areas:
    "post gap rules"
    "feed gap ."
}