.grid-head {
  grid-gap: 20px 5px;
  
}
.grid-head {
  display: grid;
  height: 200px;
  grid-template:auto;
  gap: 20px 5px;
 
}

.grid-head > div {
  border: 1px solid red;
  background-color: red;
  height: 200px;
  
}

.grid-container {
  grid-gap: 20px 5px;
  padding-top: 40px;
  
}
.grid-container {
  display: grid;
  height: 200px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px 5px;
}

.grid-container > div {
  border: 1px solid green;
  background-color: lime;
  height: 200px;
}
.grid-bottom {
  grid-gap: 20px 5px;
  padding-top: 70px;
}
.grid-bottom {
  display: grid;
  height: 200px;
  grid-template:auto;
  gap: 20px 5px;
 
}

.grid-bottom > div {
  border: 1px solid white;
  background-color: black;
  height: 270px;
  
}


  
  