
.itemHeader {
    grid-area: header;
    grid-column-start: 2;
    grid-column-end:3;
    justify-self: center;
}
.itemBody {
    grid-area: main;
}
.item-c {
    grid-area: footer;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
}
  
.container{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
}