.item-feed{
    grid-area: feed;

}

.feed-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* grid-gap: 24px; */
    background:white;
    padding: 20px;
    grid-template-areas:
    "feed"
}