
/* For Mobile view */

.profile-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* grid-gap: 24px; */
    align-content: center;
    /* background:red; */
    grid-template-areas:
    "profile"
    "body"
}


/* For any screen larger than 900px */
@media (min-width: 900px){
    .item-profile{
        display: grid;
        grid-area: profile;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background: white;
        box-shadow: 0 1px 4px rgba(0,21,41,.08);
        grid-template-areas: 
        "profileUser"
        "profileSettings"
        /* background: white; */
        /* text-align: center; */
    }
    .item-profile-user{
        grid-area: profileUser;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-profile-settings{
        grid-area: profileSettings;
        padding:20px;
    }

    .gray-col{
        grid-area: gray-col;
        background: #f0f2f5;
        /* background: pink; */
    }

    .profile-body {
        grid-area: body;
        /* display:grid; */
        background: white;
       
        box-shadow: 0 1px 4px rgba(0,21,41,.08);
        grid-column: 3;
        grid-row: 1/3;

    }

    .profile-container{
        display: grid;
        grid-template-columns: 330px 24px 1fr;
        grid-template-rows: auto;
        /* grid-gap: 0px; */
        /* background:white; */
        grid-template-areas:
        "profile gray-col body"
    }
}