@import '~antd/dist/antd.css';

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.sign-up {
  max-width: 60%;
}

.form {
  justify-content: center;
  padding-top: 10%;
  display: flex;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.signInLogo {
  height: 200px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100px;
  background: rgba(255,255,255,.2);
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
